@model IEnumerable<EverestAlbumLibrary.Models.Loan>

@{
    ViewBag.Title = "Task3";
}

<h2>Task2</h2>

<p>
    Allow the user to enter or select an actor’s name (Lastname) and see the titles and the
    number of copies on the shelves of all DVDs for which the Actor is a CastMember and
    which have at least one copy on the shelves.
</p>


<form method="get" action="/Report/Task3">
    @Html.DropDownList("name", new SelectList(ViewBag.name, "name", "name"), null, null)
    <button type="submit">Search</button>
</form>

@if (Model != null)
{
    <table class="table table-hover">
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.Albums.Tittle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CopyNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Albums.Tittle)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CopyNumber)
        </td>

    </tr>
        }

    </table>
}