@model IEnumerable<EverestAlbumLibrary.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="table-success">
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeRestriction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleasedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudioName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <Button class="btn btn-outline-warning">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</Button> |
                <Button class="btn btn-outline-success">@Html.ActionLink("Details", "Details", new { id = item.Id })</Button> |
                <Button class="btn btn-outline-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</Button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRestriction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleasedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudioName)
            </td>
        </tr>
    }

</table>

